@import "tailwindcss";
.title {
  text-align: center;
  font-size: xx-large;
  color: white;
}
.project-container {
  height: 100vh;
  background-color: #1a202c;
  color: white;
}

.contact {
  height: 100vh;
  background-color: #1a202c;
  color: white;
}

.name {
  text-align: center;
}

.email {
  text-align: center;
}

.message {
  text-align: center;
}

.button {
  text-align: center;
}

.profilepic {
  width: 20vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input,
textarea {
  border: 1px solid;
}

.popup {
  text-align: center;
}
