.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 113, 207);
  color: #fff;
  padding: 1rem;
}

.navbar-right .nav-links {
  list-style-type: none;
  display: flex;
  gap: 4vw;
  justify-content: right;
  resize: horizontal;
}

@media (max-width: 640px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .navbar-right .nav-links {
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 0;
  }
}
